#include<stdio.h>
int palindrome(int n)
{
    int rev=0,num=0;
    while(n>0)
    {
        num=n%10;
        rev=rev*10+num;
        n=n/10;
    }
    return rev;
}
int main()
{
    int n;
    printf("Enter a number:");
    scanf("%d",&n);
    int rev=palindrome(n);
    if(n==rev)
    {
        printf("The given number is a Palindrome.");
    }
    else
        printf("The given number is not a Palindrome.");
    return 0;
}
